/*.body-div{*/
    /*height: 200px;*/
    /*width: 200px;*/
/*}*/
body{
    background-image: url("../img/02.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
.body-div{
    /*border: solid;*/
    /*border-radius: 20px ;*/
    /*margin-right: 20px;*/
    margin-top: 40px;
    padding: 8px;
    margin-right: auto;
    margin-left: auto;
    /*float: right;*/
    width: 600px;
    height: 600px;
    background-color: azure;
}
.btn{
    display: block;
    left: 30px;

}
.btn-group-vertical > button{
    margin-bottom: 8px;
    /*margin-top: 6px;*/
    border-radius:10px !important;
}
.btn-group{
    left: auto;
    right: auto;
}